@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif; 
    font-size: 1rem;
}

:root{
    --red-color:#A40101;
	--blue-color:#2CA3AB;
	--grey-color:#C4C4C4;
	--orange-color:#F3610E;
	--grape-color:#1D1B45;
    --white-color--: #fff; 
}


.header{
   width: 100%;
   height: 25vh;
   background-color: #040429 ;
   width: 100%;
   display: flex;
   flex-flow: column;
   padding: 1rem;
   justify-content: center;
    align-items: center;
}

header img{
    max-width: 200px;
    width: 100%;
   margin-top: 1rem;

}

.botones{
    display: flex; 
    width: 40%; 
   
    justify-content: space-around;
}
.franja img{
    max-height: 8vh;
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
    border-bottom: 5px solid var(--blue-color);
}

.boton1, .boton6{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--grey-color);
    border: 2px solid #2CA3AB;
    align-items: center;
    margin: 5px;


}

.boton1{
    animation: boton 1s ease-in 1s 1;
}


.boton6{
    animation: boton 1s ease-in 2s 1;
}

.boton1:hover, .boton6:hover{
    transform: scale(1.2);
    cursor: pointer;
}

@keyframes  boton {
    50%{
        background-color: #275053;
    }

    100%{
        transform: translateY(30%);
    }
}


.cuerpo{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(4, auto);
    width: 100%;

}


.registro{
    grid-column: 1/-1;
    grid-row: 3/4; 
    text-align: center;
    padding: 5px;
    
}

.buscar{
    grid-column: 1/-1;
    grid-row: 2/3; 
    text-align: center;
    padding: 5px;

}

.boton2{
    font-size: 0.   813rem;
    width: 100px;
    height: 30px;
    background-color: var(--orange-color);
    border-radius: 6px;
    border: 2px solid var(--orange-color);
    font-weight: 500;
    cursor: pointer;
    color: #fff;
    padding: 5px;
    margin: 0px;
}

.boton2:hover{
    color: var(--orange-color);
    background-color: var(--white-color);
}


.boton3{
    background-color: var(--grape-color);
    border-radius: 8px;
    border: 2px solid #2CA3AB;
    font-weight: bold;
    cursor: pointer;
    color: #fff;
}
.boton3:hover{
    color: var(--blue-color);
    background-color: var(--white-color);
}

.buscar input{
    border: 2px solid var(--blue-color);
    border-radius: 8px;
    text-align: center;
    font-size: 14px;
    height: 27px;
    text-align: left;
}

.cuerpo h1{ 
    grid-column: 1/-1;
    grid-row: 1/2; 
    text-align: center;
    padding: 5px;
    font-size: 32px;
    font-weight: 500;
    color: var(--grape-color);
    text-decoration: underline solid var(--blue-color) ;
}

.tabla{      
    grid-column: 1/-1;
    grid-row: 4/4; 

    padding: 5px;
}

.tabla table{
    width: 100%;
    border: 2px solid var(--blue-color);
    text-align: center;
    border-collapse: collapse;

}

.tabla table th{
    background-color: var(--grape-color);
    height: 45px;
   border: 2px solid var(--blue-color);
   padding: 0px; 
   color: var(--white-color--);
   font-size: 13px;
   font-weight: 600;

   animation: encabezados 2s ease-in 2s infinite;
   
}



@keyframes encabezados {

    50%{
        transform: translateY(-5%);
    }

    100%{
        transform: scale(1.2);
    }
}

.tabla table td{
    background-color: var(--grey-color);
    height: 40px;
   border: 2px solid var(--blue-color);
   padding: 0px; 
   color: #000;
   font-size: 12px;
   
}

table th:first-child {
    width: 15%;
  }
  table th:nth-child(2) {
    width: 15%;
  }
  table th:nth-child(3) {
    width: 20%;
  }
  table th:nth-child(4) {
    width: 20%;
  }
  table th:nth-child(5) {
    width: 10%;
  }
  table th:last-child {
    width: 20%;
  }

.boton4{
    height: 27px;
    width: 80px;
    margin: 3px;
    background-color: var(--blue-color);
    border-radius: 4px;
    border: 2px solid var(--blue-color);
    font-weight: 300;
    font-size: 12.5px;
    cursor: pointer;
    color: #000;
}
.boton4:hover{
    background-color: #68e7f0;
    border: 2px solid #68e7f0;
}

.boton5{
    height: 27px;
    width: 80px;
    margin: 3px;
    background-color: red;
    border-radius: 4px;
    border: 2px solid red;
    font-weight: 300;
    font-size: 12.5px;
    cursor: pointer;
    color: #fff;
}
.boton5:hover{
    background-color:var(--red-color);
    border: 2px solid var(--red-color);
}



footer{
    position: relative;
    background-color: black;
    color: var(--white-color--);
    display: flex;
    justify-content: center;      
    height: 80px;
    margin-top: 8px;
}



.footer p{
    font-size: 8px;
    font: 300;
    position: relative;
    top: 0%;
}







/* estilos formulario de registro*/


#titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.titulor{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    background-color: var(--grape-color);
    border: 2px solid var(--grape-color);
    border-radius: 12px;
    text-align: center;
}

.titulor h1{
    color: var(--white-color--);
    font-size: 1.4rem;
    font-weight:400;
    padding: 5px;
}

.divprincipalr{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid #8b8b8b;
    width: 95%;
    padding: 1.8rem; 
    margin-bottom: 1rem;
    margin: 0px auto; 
}

.guardar{
     margin: 1rem;
}

.guardar .boton2{
animation: guardar 1s ease-in 2s infinite;
}

@keyframes guardar {
    50%{
        transform: scale(1.2);
    }
}

form{
    width: 100%;
    background-color: var(--grey-color);
    border-radius: 12px;
    border:2px solid #8b8b8b ;
    padding: 1rem;
    display: flex;
    flex-direction: column;  
}

input, select{
    border:2px solid #2CA3AB;
    border-radius: 5px;
    height: 5.5vh;
    font-size: 8px;
    margin: 1rem;
}
.date{
    padding: 1rem;
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
}
 
.date input{
    margin-bottom: 1rem;
    margin-right:0rem;
    width: 100%;
    font-size: 1rem;
}

.subtitulor{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-left: 1rem;
    background-color: var(--blue-color);
    border: 2px solid var(--grape-color);
    border-radius: 8px;
}

h2{
    display: flex;
    color: var(--white-color--);
    font-weight: 400;
    text-align: center;
    font-size: 1.2rem;
    align-items: center; 
    justify-content: center;
    margin: 2px;
}

.subtitulor i{
    align-items: left;
}
 
.inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: left;

}

.inputs select{
    width: 95%;
    font-size: 1rem;
    margin: 0px;
    margin-bottom: 1rem;
}

.inputs input{
    width: 95%;
    font-size: 1rem;
    margin: 0px;
    margin-bottom: 1rem;
}

.inputs2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: left;
    margin: 1rem;

}

.inputs2 select{

    width: 100%;
    font-size: 1rem;
    margin:0px;
    margin-bottom: 1rem;

}

.inputs2 input{
    width: 100%;
    font-size: 1rem;
    margin:0px;
    margin-bottom: 1rem;
}

.labels{
    justify-content: left;
    align-items: center;
}

.labels2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.labels2 input{
    margin-right: 1rem;
    margin-left: 1rem;
    padding: 1rem;
}


@media (max-width: 400px) { /*use un diseño responsive para dispositivos más pequeños (como el iphone SE) pero solo para la tabla*/
    table {
      display: block;
      overflow-x: auto;
    }
}


/*Resolucion tabletas*/
@media (min-width: 768px) {
    .header{
        height: 10vh;
        display: flex;
        align-items: center;  
        flex-flow: row;
        justify-content:space-between;
    }
  
    .subtitulor{
        padding: 0.7rem;
        font-size: 1.125rem;
    }
       
    i{   
        align-items: flex-start;
    }

    .botones{
        display: flex; 
        width: 40%; 
        justify-content: right;
    }
    
    .divprincipalr{
        width: 99%;
        padding: 2rem;
    }   

    
    .date{
        justify-content: center;
        flex-flow: row;
    }

    .date input{
        margin-right:1rem;
        font-size: 0.875rem;
        width: 48%;
    } 

    .inputs{
        display: flex;
        align-items: center;
        justify-items: center;
        margin: 1rem;
        
    }
    
    .inputs select, .inputs input,.inputs2 select,.inputs2 input{
        height: 4.2vh;
        width: 98%;
    }

    .cuerpo{
        align-items: center;
        justify-content: left;
        width: 100%;
        margin-top: 2rem;

    }
    
    .registro{
        grid-column: 1/1;
        grid-row: 1/1;  
    }
    .buscar{
        grid-column: 12/13;
        grid-row: 1/1;  
        display: flex;
        justify-content:left; 
    
    }

    .cuerpo h1{ 
        grid-column: 1/-1;
        grid-row: 3/4; 
        
    }
    .tabla{
        grid-column: 1/-1;
        grid-row: 4/4;
        width: 100%;
    }

    
} 

/*Resolucion Resoluciones medias*/
@media (min-width: 1024px) {
    .header{
        height: 13vh;
        display: flex;
        align-items: center;  
        flex-flow: row;
        justify-content:space-between;
    }
  
    .subtitulor{
        padding: 0.7rem;
        font-size: 1.125rem;
    }
       
    i{   
        align-items: flex-start;
    }

    .botones{
        display: flex; 
        width: 40%; 
        justify-content: right;
    }
    
    .divprincipalr{
        width: 99%;
        padding: 2rem;
    }   

    
    .date{
        justify-content: left;
        flex-flow: row;
    }

    .date input{
        margin-right:1rem;
        font-size: 0.875rem;
        width: 20%;
    } 

    .inputs{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-items: left;
        margin: 1rem;
        
    }
    
    .inputs select,.inputs input{
        flex-basis: 46%;
        margin: 1rem;
        font-size: 14px;

    }

    .inputs2{
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-items: left;

    
    }
    .inputs2 select, .inputs2 input{
        flex-basis: 30%;
        margin: 1rem;
        font-size: 14px;
    }

    #tabla{
        margin: 0px;
        padding: 5rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .cuerpo{
        align-items: center;
        justify-content: left;
        width: 100%;

    }
    
    .registro{
        grid-column: 1/1;
        grid-row: 1/1;  
    }
    .buscar{
        grid-column: 12/13;
        grid-row: 1/1;  
        display: flex;
        justify-content:left; 
    
    }

    .cuerpo h1{ 
        grid-column: 1/-1;
        grid-row: 3/4; 
        
    }

    .buscar input{
        font-size: 14px;
        width: 12rem;
        height: 4.5vh;
        text-align: left;
        margin-right: 0.2rem;
    }

    .boton2{
        font-size: 0.813rem;
        width: 100px;
        height: 4.5vh;
        cursor: pointer;
        color: #fff;
        padding: 5px;
        margin: 0px;
    }

    .tabla{
        width: 100%;
        grid-column: 1/-1;
        grid-row: 4/4;
    }
}





/*Resolucion Resoluciones macro*/

@media (min-width: 1200px) {

    .header{
        height: 15vh;
        display: flex;
        align-items: center;  
        flex-flow: row;
        justify-content:space-between;
    }
  
    .subtitulor{
        padding: 0.7rem;
        font-size: 1.125rem;
    }
       
    i{   
        align-items: flex-start;
    }

    .botones{
        display: flex; 
        width: 40%; 
        justify-content: right;
    }
    
    .divprincipalr{
        width: 99%;
        padding: 2rem;
    }   

    
    .date{
        justify-content: left;
        flex-flow: row;
    }

    .date input{
        margin-right:1rem;
        font-size: 0.875rem;
        width: 15%;
    } 

    .inputs{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-items: left;
        margin: 1rem;
        
    }
    
    .inputs select{
        flex-basis: 47%;
        margin: 1rem;
        font-size: 14px;

    }
    
    .inputs input{
        flex-basis: 47%;
        margin: 1rem;
        font-size: 14px;
        
    }

    .inputs2{
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-items: left;

    
    }
    .inputs2 select{


        flex-basis: 30%;
        margin: 1rem;
        font-size: 14px;
    }
    
    .inputs2 input{
        flex-basis: 30%;
        margin: 1rem;
        font-size: 14px;
    }

    #tabla{
        margin: 0px;
        padding: 5rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .cuerpo{
        width: 100%;
        justify-content: left;
        align-items: left;   
    }
    
    .registro{
        grid-column: 1/1;
        grid-row: 1/1;  

    }
    
    .buscar{
        grid-column: 12/13;
        grid-row: 1/1;  
        display: flex;
        justify-content:left; 
    
    }

    .cuerpo h1{ 
        grid-column: 1/-1;
        grid-row: 3/4; 
        
    }

    .tabla{
        width: 100%;
        grid-column: 1/-1;
        grid-row: 4/4;
    }

}
