@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
    margin:0%;
}

body{
    font-family: 'Poppins', sans-serif; 
    font-size: 16px;
}


:root{
    --red-color:#A40101;
	--blue-color:#2CA3AB;
	--grey-color:#C4C4C4;
	--orange-color:#F3610E;
	--grape-color:#1D1B45;
    --white-color--: #fff; 
}


header{
    width: 100%;
    height: 30vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    align-items: center;  
    border-top: 0.5rem solid #444444;
    padding: 1rem;
    background-image: url(../img/1.\ linea.png);
    background-position:right 100%;
    background-repeat: no-repeat;
    background-size: 94%;
}

.contacto{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(1, auto);
    grid-column: 1/5    ;
    grid-row: 1/2;
}

.contacto h2{ 
    font-size: 10px;
    color: var(--grey-color);
}

.telefono1{
    grid-column: 2/3;
}

.telefono2{
    grid-column: 3/5;
}

.telefono3{
    grid-column: 5/6;
}

.telefono4{
    grid-column: 6/10;
}

.contacto >a{
    
    grid-column: 11/13;
    text-align: right;
}

.logo{
    grid-column: 1/-1;
    grid-row: 2/3;
    text-align: center;
}
.logo img{
    max-width: 230px;
    width: 100%;
}

.boton1{
    background-color: var(--grape-color);
    border-radius: 22px;
    border-color: var(--grape-color);
    font-weight: bold;
    padding: 0.5rem 1rem;
    cursor: pointer;
    color: #fff;
    font-size: 12px;
}
.boton1:hover{
    color: var(--grape-color);
    background-color: var(--white-color);
}



.medico1{
    width: 100%;
    height: 39vh;
    padding: 2rem;
    padding-right: 4rem;
    margin: 0%;
    text-align: left;
    background-color: rgba(250, 250, 250, 0.4);
    background-image: url(../img/2.\ medico.png);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;    
    text-align: left;
}

.medico1 h1{
    color: var(--orange-color);
    font-weight:300;
    font-size: 1.8em;
    margin: 0px;
}
.medico1 h2{
    color: black;
    font-weight: 500;
    font-size: 2em;
    margin: 0px;
}

.medico1 button {
    font-size: 0.7em;
}



.franja{
    width: 100%;
    height:4vh;
    background-image: url(../img/12.\ franja.svg);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;  
    margin: 0%;  
}

#preguntas{
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    background-image: url(../img/4.\ covid.jpeg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin: 0px;
}

.signos{
    grid-column: 1/3;
    grid-row: 1/2;
    padding-left: 1rem;

}

.signos h1{
    padding: 0.8rem;
    font-size: 1.7rem;
    font-weight: 400;
    position: relative;
    color: #195aa5;
   
}

.signos h1::before{
    content:'';
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background-image: url(../img/7.\ flechaderecha.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-right: 5px;
}

li{
    list-style: none;
    font-size: 1rem;
    padding: 5px 10px 10px 0px;
    color:#444444;
}

li::before{
    content:'';
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-image: url(../img/6.\ check.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-right: 5px;
    
}

.quehacer{
    grid-column: 1/3;
    grid-row: 2/3;
    padding-left: 1rem;
    text-align: center;
}

.quehacer p {
    font-size: 1rem;
    color: #444444;
    text-align: justify;
    padding: 0px 40px 0px 20px;
}

.quehacer h1{
    padding: 0.8rem;
    font-size: 1.7rem;
    font-weight: 400;
    text-align: left;
    color: #195aa5;
}

.quehacer h1::before{
    content:'';
    display: inline-block;
    top: 0.5%;
    width: 40px;
    height: 40px;
    background-image: url(../img/8.\ question-circle-solid.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-right: 4px;
}

.quehacer img{
    max-width: 115px;
    width: 100%;
    margin-bottom: 1rem;
}

.quehacer h3{
    text-align: center;
    font-size: 0.8rem;
    font-weight: 300;
}

#articulos{
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, auto);
    margin: 0px;
    background-color: #444444;
    align-items: center;
}

.articulo1, .articulo2, .articulo3, .articulo4, .articulo5{
    padding-left: 1.5rem;
    height: 40px;
    background-color: var(--grape-color);
    color: var(--white-color--);
    font-size: 0.9em;
}

footer{
    position: relative;
    background-color: black;
    color: var(--white-color--);
    display: flex;
    justify-content: center;      
    height: 80px;
    margin-top: 8px;
}

.footer p{
    font-size: 8px;
    font: 300;
    position: relative;
    top: 0%;
}

/*para resoluciones tableta*/

@media (min-width: 768px) {
    header{
        height: 20vh;
    }
    
    .contacto >a{
        grid-column: 10/13;
        text-align: right;
    }

    .medico1{
        width: 100%;
        height: 45vh;
        padding: 4rem;
        text-align: center; 
    }

    .medico1 h1{
        position: relative;
        left: -15%;
        top: 20%;
        font-weight:300;
        font-size: 2rem;
        margin: 0px;
    }

    .medico h2{
        position: relative;
        left: -15%;
        top: 20%;
        font-size: 2.2rem;
    }
    
    .medico1 button {
        position: relative;
        left: -15%;
        top: 20%;
        font-size: 14px;
        margin-top: 10px;
    }

    li{
        position: relative;
        left: 30%;
    }

}

/*para resoluciones medias*/

@media (min-width: 1024px) {
    header{
        background-size: 65%;
        height: 30vh;
    }

    .contacto{
        grid-column: 2/5;
    }

    .logo{
        grid-column: 1/2;
        grid-row: 1/3;
        
    }

    .franja{
        height: 8vh;
    }

    .signos{
        grid-column: 1/2;
        grid-row: 1/3;
        padding-left: 2rem;
    
    }

    .signos h1{
        padding: 10px;
        font-size: 1.7rem;
        position: relative;

       
    }
    
    li{
        font-size: 1.3rem;
        position: relative;
        left: 0;
    }


    .quehacer{
        grid-column: 2/3;
        grid-row: 1/3;
        padding-left: 2rem;
    }

    .quehacer p {
        font-size: 1.3rem;
    }
    
    .quehacer h1{
        padding: 10px;
        font-size: 27px;
    }
    
    .quehacer h3{
        font-size: 1.1rem;
    }

}


/*para resoluciones macro*/

@media (min-width: 1200px) {
    header{
        background-size: 65%;
        height: 25vh;
    }

    .contacto{
        grid-column: 2/5;
        grid-row: 1/2;
    }
    .contacto h2{ 
        font-size: 12px;
    }
    .telefono1{
        grid-column: 2/3;
    }

    .telefono2{
        grid-column: 3/5;
    }

    .telefono3{
        grid-column: 5/6;
    }

    .telefono4{
        grid-column: 6/9;
    }

    .contacto >a{
        grid-column: 11/13;
        text-align: right;
    }

    .logo{
        grid-column: 1/2;
        grid-row: 1/3;
    }
    .medico1{
        width: 100%;
        height: 55vh;
        padding: 4rem;
        text-align: center; 
    }
    .medico1 h1{
        position: relative;
        left: -15%;
        font-weight:300;
        font-size: 2rem;
        margin: 0px;
    }

    .medico h2{
        position: relative;
        left: -15%;
        font-size: 2.2rem;
    }

    .franja{
        height: 9vh;
    }
    
    .medico1 button {
        font-size: 14px;
        position: relative;
        left: -15%;
        font-size: 14px;
        margin-top: 10px;
    }

    .signos{
        grid-column: 1/2;
        grid-row: 1/3;
        padding-left: 3rem;
    
    }

    .quehacer{
        grid-column: 2/3;
        grid-row: 1/3;
        padding-left: 3rem;
    }

    .quehacer p{
        font-size: 1.3rem;
    }

    li{
        font-size: 1.3rem;
    }

    .quehacer img{
        max-width: 115px;
        width: 100%;
    }

    

    .articulo1, .articulo2, .articulo3, .articulo4, .articulo5{
        font-size: 1em;
    }
    
}
