@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif; 
    font-size: 16px;
    background-image: url(../img/10.png);
    background-repeat: no-repeat;
    
}


:root{
    --red-color:#A40101;
	--blue-color:#2CA3AB;
	--grey-color:#C4C4C4;
	--orange-color:#F3610E;
	--grape-color:#1D1B45;
    --white-color--: #fff; 
}

#login{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.4);  
    background-size: 100%;  
}

.principal {
    width: 75%;
    max-height: 100%;
    
}

.retun_home button{
    background-color: var(--grape-color);
    border-radius: 8px;
    border: 2px solid #2CA3AB;
    font-weight: bold;
    cursor: pointer;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    width: 10rem;
    height: 2rem;
    margin-bottom: 1rem;

}

.formulario{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 75vh;
    border-radius: 15px;
    box-shadow: 4px 2px 4px gray;
}

.login1{
    display: flex;
    flex-basis: 30%;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    background-color:#a8dde0;
    border-radius: 15px 15px 0px 0px;
    
}

.login1 img{
    max-width: 60%;
    width: 100%;
    justify-content: center;
    padding: 0px;
    margin-bottom:0px;
}

.login1 h1{
    font-size: 0.8rem;
    font-weight: 500;    
}

.form{
    background-color: var(--white-color--);
    padding-top: 1.5rem;
    border-radius: 0px 0px 15px 15px;
    flex-basis: 70%;
    flex-direction: column;
    justify-content:space-around;
    padding: 0.5rem;
    
}

.form-group{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.75rem;
}

.form-group label{
    color: black;
    text-align: center;
    font-weight: 500;
    font-size: 0.75rem;
}

.form-group input{
    text-align: center;
    background-color: rgba(168, 221, 224, 0.3);
    border: 2px solid #a8dde0;
    border-radius: 25px;
    max-width: 70%;
    width: 100%;
    height: 45%;
    margin-top: 0.5rem;

}

.form-group a{
    color: black;
    font-size: 0.75rem;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}

.form-group2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}

.form-group2 button{
    text-decoration: none;
    font-size: 13px;
    width: 100px;
    height: 30px;
    background-color: var(--orange-color);
    border-radius: 6px;
    border: 1px solid var(--blue-color);
    font-weight: 500;
    cursor: pointer;
    color: #fff;
    padding: 5px;
    margin: 0px;
}

.form-group2 a{
    text-decoration: none;
    font-size: 0.75rem;
    color: #fff;
}

.form-group2 button:hover{
    transform: scale(1.1);
    color: var(--orange-color);
    background-color: var(--white-color--);
    border: 1px solid var(--orange-color);
}

.form-group2 a:hover{
    color: var(--orange-color);
}

.retun_home{
    display: flex;
    justify-content: flex-end;
}


/*para tabletas*/

@media (min-width: 700px){
    .principal {
        width: 60%;
        max-height: 60vh;
        align-items: center;
    }

    .formulario{
        width: 100%;
        height: 100%;
    }
    .login1{
        flex-basis: 40%;
        padding: 1rem;
    }
    .form{
        display:flex;
        flex-basis: 60%;
        flex-direction: column;
        justify-content:space-around;
    }

    .form-group input{
        max-width: 75%;
        width: 100%;
        height: 45%;
        margin-top: 0.625rem;
    }

    .form-group label{
        font-size: 1.2rem;
    }
    
    .form-group a{
        font-size: 1rem;
    }   

}

/*para resoluciones medias*/
@media (min-width: 1024px){


    .principal {
        width: 32%;
    }

    .retun_home button{ 
        font-size: 0.75rem;
        width: 8rem;
        height: 2rem;
        margin-bottom: 1rem;
    }

    .formulario{
        width: 100%;
    }
     
    .login1{
        flex-basis: 45%;
        padding: 1rem;
    }

    .form{
        flex-basis: 55%;
    }
    .form-group input{
        max-width: 65%;
        width: 100%;
        height: 25%;
        margin-top: 0.625rem;

    }

} 

/*Resolucion Resoluciones macro*/
@media (min-width: 1200px) {

    .principal {
        width: 33%;
    }
    .retun_home button{ 
        font-size: 0.75rem;
        width: 8rem;
        height: 2rem;
        margin-bottom: 1rem;
    }

    .formulario{
        width: 100%;
    }
     
    .login1{
        flex-basis: 50%;
        padding: 1rem;
    }

    .form{
        flex-basis: 50%;
    }
    .form-group input{
        max-width: 65%;
        width: 100%;
        height: 25%;
        margin-top: 0.625rem;

    }
}
